.hero-banner-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.slider-wrapper {
    position: relative;
    width: 100%;
}
.slider-wrapper img {
    width: 100%;
    filter: brightness(0.6);
}
.slick-slider .hero-content-container {
    width: 45%;
    position: absolute;
    left: 100px;
    top: 150px;
}
.slick-slider .hero-content-container h2 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 40px;
}
.slick-slider .hero-content-container p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
}
.slick-slider .hero-content-container a {
    border: 2px solid #fff;
    color: #fff;text-transform: uppercase;
    padding: 12px;
}
.slick-slider .hero-content-container a:hover {
    border: 2px solid #A3B181;
    color: #000;
    background: #A3B181;
    transition: all 0.3s;
}
/* Media Queries */
@media (max-width: 800px) {
    .hero-banner-container {
        height: auto;
    }
    .hero-banner-container img {
        height: 350px;
    }
    .slick-slider .hero-content-container {
        width: 90%;
        box-sizing: border-box;
    }
    .slick-slider .hero-content-container {
        width: 95%;
        left: 10px;
        top: 20px;
    }
    .slick-slider .hero-content-container h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .slick-slider .hero-content-container p {
        font-size: 0.8rem;
    }
    .slick-slider .hero-content-container a {
        font-size: 0.8rem;
    }
}