.success {
    color: #0ff40f;
}

.error {
    color: #960303;
}

.contactpagecontainer {
  width: 90%;
  margin: 50px auto;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.contacticon {
  width: 30%;
}

.contacticon img {
    width: 100%;
}

.Contactcontainer {
  width: 70%;
}

h1.contact-title {
  width: 90%;
  margin: auto;
  color: #588157;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  font-family: NunitoSans;
}

.form-wrapper {
  width: 100%;
  margin: 70px auto;
  background-color: #A3B181;
  color: white;
  border-radius: 1px;
  box-sizing: border-box;
  padding-bottom: 50px;
  margin-left: 25px;
}

.contact-form {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  width: 95%;
  margin: 15px auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 7px 10px;
}

.contact-form .messageBox {
  width: 95%;
  margin: 15px auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 7px 10px;
  height: 120px;
}

.contact-form .sendbutton {
  margin: 40px auto;
  margin-bottom: 20px;
  background-color: #588157;
  box-sizing: border-box;
  color: #fff;
  padding: 7px 70px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s all;
}

.contact-form .sendbutton:hover {
    background-color: #A3B181;
    border: 2px solid #588157;
  }

.contact-Container hr {
    width: 50%;
    margin: 30px auto;
}

.socialcontainer {
  background: #A3B181;
  width: 90%;
  margin: 20px auto;
  color: #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}

.socialhead h3{
  width: 90%;
  margin: 30px auto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.locationwrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}

.locationicons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

a.locationtext {
    font-size: 18px;
    color: #fff;
    margin: 8px 0;
    transition: 0.3s all;
}
a.locationtext:hover {
  color: #588157;
  transition: 0.3s all;
}
.socialswrapper {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

a.socials {
  color: #fff;
}

/* media queries */
@media(max-width: 599px) {
    .contact-Container {
        width: 96%
    }
    .contactpagecontainer {
        flex-direction: column-reverse;
    }   
    .Contacticon img {
        margin-bottom: 40px;
    }
    .contacticon {
        width: 100%;
    }
    .Contactcontainer {
        width: 100%;
    }
    .contact-form input,
    .contact-form .messageBox {
        font-size: 14px;
    }
    .form-wrapper {
        margin-left: 0;
    }
    .contact-form .sendbutton {
        padding: 10px 50px;
        font-size: 18px;
    }
    .socialcontainer {
        width: 95%;
    }
    .locationwrapper {
        flex-direction: column;
    }
}